<div class="courses" *ngFor="let item of courses">
    <div class="course-card" attr.data-id="{{item.id}}">
        <div class="square"></div>
        <div class="title-container">
            <p class="title">{{item.title}}</p>
            <span class="badge badge-color" *ngFor="let tag of item.tags">{{tag}}</span>
        </div>
        <div class="other-details">
            <div class="vertically-center">
                <p class="author">{{item.courseCreator}}</p>
            </div>
            <div class="vertically-center starIcon">
                <img src="{{showStar[item.id]? '../../../../../assets/notGlown.png':'../../../assets/glow.png'}}"
                    type="button" (click)="addToWishlist(item.id)">
            </div>
            <div class="vertically-center">
                <!-- <p class="discount-price">{{item.price | discount:item.discount}}/-</p> -->
                <p class="discount-price">{{item.price}}/-</p>
            </div>
            <div class="vertically-center">
                <p class="original-price">{{item.price | discount:item.discount}}/-</p>
            </div>
            <div class="vertically-center">
                <button class="btn btn-primary-common btnclass" (click)="addToCart(item.id)">ADD TO CART</button>
            </div>
            <div class="vertically-center">
                <!-- <a routerLink="/courseDetail"> > </a> -->
                <a class="bi-chevron-right" (click)="GotoCourseDetails(item.id)"></a>
            </div>
        </div>
    </div>
</div>
