<div class="runner" *ngFor="let item of courses">
    <div class="container">

        <div class="allCourses">
            <a>All Courses > {{ item.id}}</a>
            <br>
            <h6>Title : {{item.title}}</h6>
        </div>
        <div class="course-details">
            <div class="sd">
                <h5>Course Description : {{item.courseDescription}}</h5>
                <br />
                <h6>Course Author: {{item.courseCreator}} </h6>
                <br />
                <div *ngFor="let items of item.tags">
                    <a class="btn btn-primary">{{items}}</a>
                </div>
            </div>
        </div>
        <div class="video">
            <iframe width="390" height="315" src="https://www.youtube.com/embed?v=kuJNVKHHpGk&feature=youtu.be">
            </iframe>
        </div>
        <div class="course-description col-8">
            <b>Course Details</b>
            <br /><br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua.
            <br /><br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua.
            <br /><br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua.
            <br /><br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua.
        </div>
        <div class="course-price">
            <br />
            Price Rs - {{item.price}}
            <br />
            Discount time left {{item.discountValidTill }}
            <br />
            <!-- <a class="btn btn-primary"> Add to Wishlist</a> &nbsp;&nbsp;&nbsp;
            <a class="btn btn-primary"> Add to Cart</a> -->

            <a  class="btn btn-primary" (click)="addToWishlist(item.id)"> Add to Wishlist</a> &nbsp;&nbsp;&nbsp;
        <a  class="btn btn-primary" (click)="addToCart(item.id)"> Add to Cart</a>
        </div>


    </div>
</div>